{% extends "base.html" %}
{% block app_content %}
<h1>PlayGames</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">game_id</th>
      <th scope="col">match_idx</th>
      <th scope="col">team</th>
      <th scope="col">player_id</th>
      <th scope="col">score</th>
      <th scope="col">updated_at</th>
    </tr>
  </thead>
  <tbody>
    {% for item in playgames%}   
      <tr>
        <td>{{item.game_id}}</td>
        <td>{{item.match_idx}}</td>
        <td>{{item.team}}</td>
        <td>{{item.player_id}}</td>
        <td>{{item.score}}</td>
        <td>{{item.updated_at}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<h1>Games</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">creator_id</th>
      <th scope="col">gametype</th>
      <th scope="col">status</th>
      <th scope="col">signed_data</th>
      <th scope="col">updated_at</th>
    </tr>
  </thead>
  <tbody>
    {% for item in games%}   
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.creator_id}}</td>
        <td>{{item.game_type}}</td>
        <td>{{item.status}}</td>
        <td>{{item.signup_data}}</td>
        <td>{{item.updated_at}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}